<div class="detailLayer"></div>
<section class="review">
  <div class="review__wrap">
    <div class="review__input">
      <h1>Your <span>comment</span></h1>
      <form method="POST" action="/comment/store" class="review__form">
        <input
          type="text"
          name="user"
          class="review__name"
          placeholder="Full name"
        />
        <input
          type="text"
          name="image"
          class="review__image"
          placeholder="image"
        />
        <textarea
          type="text"
          name="content"
          id="content"
          cols="30"
          rows="7"
          placeholder="Message"
          spellcheck="false"
        ></textarea>
        <button type="submit" class="review__btn">Send us now</button>
      </form>
    </div>
    <div class="review__content swiper">
      <div class="swiper-wrapper">
        {{#each comments}}
          <div class="swiper-slide review__item">
            <img src="{{this.image}}" alt="" class="review__img" />
            <h1>{{this.user}}</h1>
            <p class="comment-content">{{this.content}}
            </p>
            <span class="comment-time">{{this.createdAt}}</span>
          </div>
        {{/each}}
      </div>

      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>