<div class="detailLayer"></div>
<div class="detailContainer">
  <div class="detailItem">
    <h1>Live streaming web audio</h1>
    <p>Live streaming technology is often employed to relay live events such as
      sports, concerts and more generally TV and Radio programmes that are
      output live. Often shortened to just streaming, live streaming is the
      process of transmitting media 'live' to computers and devices. This is a
      fairly complex and nascent subject with a lot of variables, so in this
      article, we'll introduce you to the subject and let you know how you can
      get started.</p>
  </div>
  <div class="detailItem">
    <lottie-player
      src="https://assets6.lottiefiles.com/packages/lf20_1cmhfk0l.json"
      background="transparent"
      speed="0.5"
      style="width: 400px; height: 400px;"
      loop
      autoplay
    ></lottie-player>
  </div>
</div>