<div class="home-container">
  <div class="search-container">
    <p>Search </p>
    <div class="search-wrap">
      <input type="text" value="" />
      <button class="search-btn">Go</button>
    </div>
    <div class="singer-list">
      <a href="" class="singer-item">
        <img
          src="https://previews.123rf.com/images/ne2pi/ne2pi1804/ne2pi180400008/98955572-hip-hop-poster-with-dog-rap-music-swag-culture-urban-street-style-.jpg"
          alt=""
          class="singer-img"
        />
        <div class="info-wrap">
          <p class="singer-name">Hip Hop</p>
          <p>6,034 songs</p>
        </div>
      </a>
      <a href="#" class="singer-item">
        <img
          src="https://png.pngtree.com/png-clipart/20200727/original/pngtree-summer-music-party-poster-design-png-image_5426124.jpg"
          alt=""
          class="singer-img"
        />
        <div class="info-wrap">
          <p class="singer-name">Pop Music</p>
          <p>10,034 songs</p>
        </div>
      </a>
      <a href="#" class="singer-item">
        <img
          src="https://media.istockphoto.com/vectors/rnb-vintage-3d-vector-lettering-retro-bold-font-typeface-pop-art-vector-id1199971570?k=20&m=1199971570&s=612x612&w=0&h=AIVvoxiwZtfzComVIcTjddxPlERPTaFn184m5pLOPJc="
          alt=""
          class="singer-img"
        />
        <div class="info-wrap">
          <p class="singer-name">R & B</p>
          <p>20,034 songs</p>
        </div>
      </a>
    </div>
  </div>
  <div class="content-list">
    {{#each singer}}
      <a href="/singers/{{this.slug}}" class="content-item">
        <img src="{{this.image}}" alt="" class="content-img" />
        <div class="content-desc">
          <h1>{{this.name}}</h1>
          <p>{{this.description}} </p>

        </div>
      </a>
    {{/each}}
  </div>
</div>

<canvas class="webgl"></canvas>