{{! <h1>List song of Den Vau</h1>
<audio id="player01" preload="none" controls>
  <source src="https://www.youtube.com/watch?v=qv3-HaaxGUc" />
</audio> }}

<div class="songs-wrap">
  {{#each song}}
    <div class="song-item">
      <img src="{{this.image}}" alt="" />
      <div class="item-wrap">
        <p class="song-title">{{this.name}}</p>
        <p class="singers">{{this.description}}</p>
        <audio id="youtube" controls>
          <source src="{{this.songURL}}" />
        </audio>
        <i class="fa-solid fa-heart song-fav"></i>
      </div>
    </div>
  {{/each}}
</div>

<canvas class="webgl"></canvas>